<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.home.automation"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />
    
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />   
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />     
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
   	<uses-permission android:name="android.permission.GET_TASKS"/>
    
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
<!--  			android:name="com.home.automation.AreaListActivity" -->
        <activity
            android:name="com.home.temperature.TemperatureActivity"
            android:label="@string/app_name"
            android:uiOptions="splitActionBarWhenNarrow" 
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
           <activity
            android:name="com.home.automation.AreaListActivity"
            android:label="@string/app_name"
             android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AreaListActivity" />
        </activity>
        <activity
            android:name="com.home.automation.AreaDetailActivity"
            android:label="@string/title_area_detail"
            android:parentActivityName=".AreaListActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".AreaListActivity" />
        </activity>
        <service android:name="com.home.automation.server.WebServerService"></service>
    </application>

</manifest>
